xmls/patient.dtd

<!DOCTYPE patient [
	<!ELEMENT patient (dob,dni,hemograms?)>
	<!ATTLIST patient name CDATA #REQUIRED surname CDATA #REQUIRED>
	<!ELEMENT dob (#PCDATA)>
	<!ELEMENT dni (#PCDATA)>
	<!ELEMENT hemograms (hemogram+)>
	<!ELEMENT hemogram (dob,comments?)>
	<!ATTLIST hemogram id CDATA #REQUIRED>
	<!ELEMENT dob (#PCDATA)>
	<!ELEMENT comments (#PCDATA)>
]>